@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

:root {
    --primary: #4682B4;
    --gray1: #778899;
    --gray-title: #708090;
    --background: #F0F8FF;
    --font-family: 'Oswald', sans-serif;
    --text-color: black;
    --background-btn: #4682B4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background);
}

h4 {
    margin: 0;
}


/*style*/


footer {
    text-align: center;
    padding: 5px;
    background-color: var(--primary);
    color: var(--background);
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
}


.stadium-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/background2.jpg") center center/cover no-repeat;
    min-height: 576px;
}

.stadium-title-text {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    color: var(--background);
    -webkit-text-stroke: 1px var(--text-color);
    text-shadow: 8px 8px 7px rgba(0, 0, 0, 0.55);
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(4 1fr);
}

.menu-container {
    margin: 0 5px;
}

.club-image-scaled {
    margin-top: 64px;
    position: relative;
    width: 100%;
    height: 280px;
}

.buttonLeftClass,
.buttonRightClass {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    width: 173px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--primary);
    padding-top: 5px;
}

.buttonLeftClass {
    color: var(--background);
    background: var(--background-btn);
}

.buttonRightClass {
    color: var(--background-btn);
    background: var(--background);
}

.section-buttons {
    margin: 64px 0 64px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h1.section-title {
    margin: 64px 0 64px 0;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: var(--gray-title);
    text-decoration: underline;
}



.buttonLeftClass:hover {
    background: var(--background);
    color: var(--background-btn);
}

.buttonRightClass:hover {
    background: var(--background-btn);
    color: var(--background);
}