@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;600&display=swap');

:root {
    --primary: #4682B4;
    --gray1: #778899;
    --gray-title: #708090;
    --background: #F0F8FF;
    --font-family: 'Oswald', sans-serif;
    --text-color: black;
    --background-btn: #4682B4;
}



/* Global css */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}


/*style*/


footer {
    text-align: center;
    padding: 5px;
    background-color: var(--primary);
    color: var(--background);
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
}


.stadium-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 576px;
}

.home-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/background2.jpg") center center/cover no-repeat;
    min-height: 576px;
}


ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/*style*/


footer {
    text-align: center;
    padding: 5px;
    background-color: var(--primary);
    color: var(--background);
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
}


.stadium-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 576px;
}

section.stadium-home-container {
    background: url("../img/background2.jpg") center center/cover no-repeat;
}

div.stadium-camp-container {
    background: url("../img/camp-nou.jpg") center center/cover no-repeat;
}

div.stadium-bomb-container {
    background: url("../img/La_Bombonera._-_panoramio.jpg") center center/cover no-repeat;
}

div.stadium-velo-container {
    background: url("../img/velo.background.jpg") center center/cover no-repeat;
}

.stadium-title-text {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    color: var(--background);
    -webkit-text-stroke: 1px var(--text-color);
    text-shadow: 8px 8px 7px rgba(0, 0, 0, 0.55);
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(4 1fr);
}

.menu-container {
    margin: 0 5px;
}

.club-image-scaled {
    margin-top: 64px;
    position: relative;
    width: 100%;
    height: 280px;
}

div.info-container {
    margin: 0 21px;
}


.image-scaled {
    margin-top: 64px;
    position: relative;
    width: 100%;
    height: 280px;
}

.club-image-scaled {
    margin-top: 64px;
    position: relative;
    width: 100%;
}

.buttonLeftClass,
.buttonRightClass {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    width: 173px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--primary);
    padding-top: 5px;
}

.buttonLeftClass {
    color: var(--background);
    background: var(--background-btn);
}

.buttonRightClass {
    color: var(--background-btn);
    background: var(--background);
}

.section-buttons {
    margin: 64px 0 64px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h1.section-title {
    margin: 64px 0 64px 0;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: var(--gray-title);
    text-decoration: underline;
}

.section-club-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.buttonLeftClass:hover {
    background: var(--background);
    color: var(--background-btn);
}

.buttonRightClass:hover {
    background: var(--background-btn);
    color: var(--background);
}

div.info-container {
    margin: 0 21px;
}

section>div.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

section>div.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header.stadium-header-container {
    height: 58px;
    padding: 8px 16px 8px 16px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
}

.navBackBtn {
    background-color: var(--background);
    border-radius: 5px;
    border: none;
    color: var(--gray1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

section>div#map {
    margin: auto;
    /* height is mandatory for map*/
    height: 250px;
    width: 100%;
}

.buttonLeftClass,
.buttonRightClass {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    width: 173px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--primary);
    padding-top: 5px;
}

.buttonLeftClass {
    color: var(--background);
    background: var(--background-btn);
}

.buttonRightClass {
    color: var(--background-btn);
    background: var(--background);
}

.section-buttons {
    margin: 64px 0 64px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h1.section-title {
    margin: 64px 0 64px 0;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: var(--gray-title);
    text-decoration: underline;
}



.buttonLeftClass:hover {
    background: var(--background);
    color: var(--background-btn);
}

.buttonRightClass:hover {
    background: var(--background-btn);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--primary);
}

.visible-mobile {
    display: inline;
}

.hidden-mobile {
    display: none;
}


@media screen and (min-width: 768px) {
    div>div.stadium-title-text {
        display: flex;
        flex-direction: row;
        font-size: 88px;
    }

    div>div.stadium-title-text>span {
        padding: 0 15px;
    }

    h1.section-title {
        text-align: left;
        font-size: 40px;
    }

    h1.club-title {
        text-align: left;
        font-weight: 600;
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }

    section>div#map {
        width: 50%;
    }

    section>div.videoWrapper iframe {
        left: 12.5%;
        width: 75%;
        height: 75%;
    }

    .visible-mobile {
        display: none;
    }

    .hidden-mobile {
        display: inline;
    }
}